html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0%;
  padding: 0%;
  background-color: #FBDBC1;
}

header {
  position: sticky;
  top: 0%;
  margin: 0%;
  padding: 2%;
  border-bottom: 3px dashed #F1F3F8;
  background-color: #FBDBC1;
  z-index: 1;
}

h1 {
  font-family: 'Ruda';
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  margin: 0%;
  padding: 0%;
  
}

main {
  max-width: 960px;
  margin: 0 auto;
  padding: 2% 1%;
  background-color: #FBDBC1;
}

h2 {
  font-family: 'Roboto Slab';
  font-size: 1.85em;
  font-weight: 500;
}

p, ul {
  font-family: 'Roboto Slab';
  font-size: 1em;
  font-weight: 400;
}

section {
  border: 3px solid #F1F3F8;
  padding: 0 2% 2% 2%;
  margin-bottom: 2%;
  background-color: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
}

.colors {
  padding-bottom: 3%;
}

.colors div div {
  min-width: 200px;
  flex: 1 200px;
  text-align: center;
  margin: 0 1px 2px 1px;
}

.colorbox-1 {
  background-color: #FBDBC1;
}
.colorbox-2 {
  background-color: #430C15;
  color: white;
}
.colorbox-3 {
  background-color: #66C3D1;
}
.colorbox-4 {
  background-color: #F1F3F8;
}

.fonts div div {
  min-width: 100px;
  padding-right: 1%;
  flex: 1 200px;
}

p.font-family-1, p.font-family-2 {
  text-decoration: underline;
  margin: 0%;
}

.font-family-1 p {
  font-family: 'Ruda';
}

.font-family-2 p {
  font-family: 'Roboto Slab';
}

.styles {
  background-color: #66C3D1;
  color: #430C15;
}

.styles h1 {
  text-align: left;
}

.styles div {
  padding-bottom: 2%;
}